.nav{
    background-color: rgb(42, 48, 54, 0.3) !important
}
.text-link{
    padding-top: 3vh;
    padding-bottom: 2vh;
}
.nav-pills > li > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #FFFF;
    background-color: transparent;
    transition: 0.2s;
}
.nav-pills > li >a:hover{
    color: #337ab7;
    background-color: #FFFF;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #337ab7 !important;
    border-bottom: 0.2rem solid #337ab7 !important;
    background-color: transparent !important;
}
.nav-pills > li > img{
    height: 5rem;
}
