.nav{
    background-color: rgba(77, 75, 75, 0.158);  
 backdrop-filter: blur(10px);
}
.text-link{
    padding-top: 3vh;
    padding-bottom: 2vh;
}
.nav-pills > li > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #FFFF;
    background-color: transparent;
    transition: 0.2s;
}
.nav-pills > li >a:hover{
    color: #b82404;
    background-color: #FFFF;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #b82404    !important;
    border-bottom: 0.2rem solid #b82404 !important;
    background-color: transparent !important;
}
.nav-pills > li > img{
    height: 5rem;
}
