.error{
    height:30rem;
    width:30rem;
    margin:auto;
    padding: 0 25vw ;
}
.error-page{
    align-content: center;
    min-height: 100vh;
    background-color: wheat;
    background-size: cover;
    overflow: auto;
    background-position: center;
    height:100vh;
    background-repeat: no-repeat;
}
.error-text{
    text-align: center;
    margin-top: -30vh;
    margin-left: -5vw;
    color: rgb(235, 89, 21);
}
p{
    margin-top: -3vh;
    margin-bottom: 3vh;
}

.home-link{
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 0.15rem #dbe1e8;
    padding: 1vh 1vw;
    color: var(--primary-color);
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    margin-top: 5vh;
}