.hero-banner{
height: 2.7vh; 
display: block;
align-items: center;
margin: auto;

justify-content: center;
}
@media only screen and (max-width: 680px) {
    .hero-banner{
        height: 2rem;
        margin-top: 30vh;
    }
}


/* things to do with the HighFlix logo

1. bring to center
2. increase the size

*/

/* break points
1080
680
480px - 2rem

*/