.hero-banner{
height: 22vh; 
width: 35vw;
display: block;
align-items: center;
margin: auto;
margin-top: 28vh;
justify-content: center;
}
@media only screen and (max-width: 680px) {
    .hero-banner{
        height: 6rem;
        margin-top: 30vh;
    }
}


/* things to do with the HighFlux logo

1. bring to center
2. increase the size

*/

/* break points
1080
680
480px - 2rem

*/